.componentContainer{
    flex:1;
    display:flex;
    position: relative;
    flex-direction: column;
    align-content: center;
}

.children {
    display:flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    justify-items: initial;
}

.componentContainer:not(:last-child)::before{
    border-top: solid 1px white;
    content: "";
    left: 50%;
    position: absolute;
    right: 0;
    top: 0;
    bottom:0;
    height:10%;
}

.componentContainer:not(:first-child)::after, .componentContainer:not(:first-child)::before{
    border-top: solid 1px white;
    content: "";
    left: 0;
    position: absolute;
    right: 50%;
    top: 0;
    bottom:0;
    height:10%;
}

.componentContainer:not(:last-child)::after{
    border-left: solid 1px white;
    content: "";
    left: 50%;
    position: absolute;
    right: 0;
    top: 0;
    bottom:0;
    height:10px;
}

.componentContainer:last-child::after{
    border-top: none;
    border-left: solid 1px white;
    content: "";
    left: 50%;
    position: absolute;
    right: 0;
    top: 0;
    bottom:0;
    height:10px;
}

.component{
    flex: 1;
    height: 60px;
    margin-top:5px;
    margin-right:10px;
    margin-bottom:5px;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    padding-top:10px;
}

.button{
    white-space: nowrap
 }
 
 .button:hover{
    transform: scale(1.1);
 }
 