<div class='container'>
    <form [formGroup]="departmentForm">
        <div class="input-container form-group">
            <label class="text">{{text}}</label>
            <input required #value="ngModel" [ngModel]="input" [name]="name" type='text' class="input form-control"
                [maxlength]="maxLength" pattern="inputPattern">
        </div>
        <div *ngIf="value.invalid && (value.dirty || value.touched)" class="error-message">
            <div *ngIf="value.errors.pattern" class="error-pattern">
                {{patternErrorMessage}}</div>
            <div *ngIf="value.errors.required" class="error-required">
                {{requiredErrorMessage}}
            </div>
        </div>
        <submit-button [form]="departmentForm"></submit-button>
    </form>
</div>