<div class='container'>
    <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
        <div class='form-group' *ngIf="departments != undefined">
            <input-field [text]="text[0]" [name]="'firstName'" [input]="employee.firstName">
            </input-field>
            <input-field [text]="text[1]" [name]="'lastName'" [input]="employee.lastName">
            </input-field>
            <input-field [text]="text[2]" [name]="'middleInitial'" [input]="employee.middleInitial" [maxLength]=1>
            </input-field>
            <select-field [label]="selectLabelValues[0]" [input]="employee.department.id" [name]="'department'"
                [selectOptions]="departments">
            </select-field>
            <select-field [label]="selectLabelValues[1]" [input]="employee.jobTitle.id" [name]="'jobTitle'"
                [selectOptions]="jobTitles">
            </select-field>
            <manager-select-field [text]="selectLabelValues[2]" [input]="employee.manager.id" [employees]="employees"
                [name]="'manager'">
            </manager-select-field>
            <div class="button">
                <submit-button [form]="employeeForm"></submit-button>
            </div>
        </div>
    </form>
</div>