<div class='container'>
    <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
        <div class='form-group' *ngIf="departments != undefined">
            <input-field [value]="'name'" [text]="text[0]" [name]="'firstName'" [input]="employee.firstName">
            </input-field>
            <input-field [value]="'employee'" [text]="text[1]" [name]="'lastName'" [input]="employee.lastName">
            </input-field>
            <input-field [value]="'middle'" [text]="text[2]" [name]="'middleInitial'" [input]="employee.middleInitial"
                [maxLength]="1">
            </input-field>
            <select-field [label]="selectLabelValues[0]" [input]="employee.department.id" [name]="'department'"
                [selectOptions]="departments">
            </select-field>
            <select-field [label]="selectLabelValues[1]" [input]="employee.jobTitle.id" [name]="'jobTitle'"
                [selectOptions]="jobTitles">
            </select-field>
            <div class="form-group">
                <label>{{selectLabelValues[2]}}</label>
                <select required class="form-control" [ngModel]="employee.manager.id" [name]="'manager'">
                    <option *ngFor="let data of employees" [value]="data.id">{{data.firstName + " " + data.lastName}}
                    </option>
                </select>
            </div>
        </div>
        <submit-button [form]="employeeForm"></submit-button>
    </form>
</div>